doctype
html(itemscope,itemtype="http://schema.org/Article" lang="zh-TW")
    //page default Information
    block pageInfo
        - var pageTitle = "首頁"
        - var pageDesc = "敘述"
    //html head
    include _head.pug
    //html body
    body
        - if(!dev_mode)
            noscript
                iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-5W6ZPBT" height="0" width="0" style="display:none;visibility:hidden")
        div.l-wrap#app(v-cloak=isVue)
 
            div.l-main
                block page_main
                //render main view

        script(type="text/javascript" src=jsFolder+"vendor.js")
        script(type="text/javascript" src=jsFolder+"lib.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/4.7.1/pixi.min.js")
        if more_js
            script(type="text/javascript" src= jsFolder + more_js)
        script(type="text/javascript" id="appjs" src= jsFolder + "app.js?v="+timestamp data-mode=`${dev_mode}` data-site=`${apiUrl}`)
        if pageJs
            script(src= jsFolder + pageJs+"?v="+timestamp)
        script(type='text/javascript')